{% extends './landingBase.html' %} 

{% block title %}Eutropia–IT Solution{% endblock title %}

{% block main %}
<!--Banner Start-->
{% include './components/landing/Banner.html' %}
<!--Banner End-->
<!--Portfolio Start-->
{% include './components/landing/Portfolio.html' %}
<!--Portfolio End-->
<!--Projects Start-->
{% include './components/landing/Projects.html' %}
<!--Projects End-->

<!--Service Start-->
{% include './components/landing/Service.html' %}
<!--Service End-->
<!--Process Start-->
{% include './components/landing/Process.html' %}
<!--Process End-->
<!--Team Start-->
{% include './components/landing/Team.html' %}
<!--Team End-->
<!--Testimonial Start-->
{% include './components/landing/Testimonial.html' %}
<!--Testimonial End-->
{% endblock main %}
