{% load static %}
<section class="create">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <img src="{% static 'images/create/1.jpg' %}" class="pq-image11" alt="" />
          <img src="{% static 'images/create/2.jpg' %}" class="pq-image12" alt="" />
          <div class="floating-counter pq-bg-primary">
            <div class="pq-counter pq-style-1">
              <div class="pq-counter-contain">
                <div class="pq-counter-info">
                  <div class="pq-counter-num-prefix">
                    <h5 class="timer" data-to="150" data-speed="2000">150</h5>
                    <span class="pq-counter-prefix">+</span>
                  </div>
                  <p class="pq-counter-description pq-text-white">
                    Projects Complete
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mt-4 mt-xl-0">
          <div class="pq-section pq-style-1 text-left">
            <span class="pq-section-sub-title"
              ># creative our it technology</span
            >
            <h5
              class="pq-section-title"
              id="agency"
              data-high_text="Agency"
              data-title_text="We Offer High Quality IT Agency Services"
              data-rough_color="#fd4a18"
              data-rough_type="underline"
            >
              We Offer High Quality IT Agency Services
            </h5>
            <p class="pq-section-description">
              There are many variations of passages of Lorem Ipsum available,
              but majority have suffered alteration in some form, by injected
              humour variations of the suffered alteration in some form
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="pq-fancy-box pq-fancybox-5">
                <div class="pq-fancy-media">
                  <i class="flaticon-design"></i>
                  <h5 class="pq-fancy-box-title">IT Management</h5>
                </div>
                <div class="pq-fancybox-info">
                  <p>
                    Lorem Ipsum has been the industry’s text ever since the
                    when.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
              <div class="pq-fancy-box pq-fancybox-5">
                <div class="pq-fancy-media">
                  <i class="flaticon-data-analytics"></i>
                  <h5 class="pq-fancy-box-title">IT consultancy</h5>
                </div>
                <div class="pq-fancybox-info">
                  <p>
                    Lorem Ipsum has been the industry’s text ever since the
                    when.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a href="about-us.html" class="pq-button pq-btn-flat">
            <div class="pq-button-block">
              <span class="pq-button-text">Discover More</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>