<!--Blog Start-->
<section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pq-section pq-style-1 text-center">
            <span class="pq-section-sub-title"># our latest news</span>
            <h5
              class="pq-section-title"
              id="blog"
              data-high_text="Blog"
              data-title_text="Latest Blog Posts"
              data-rough_color="#fd4a18"
              data-rough_type="underline"
            >
              Latest Blog Posts
            </h5>
          </div>
        </div>
        <div class="col-lg-12">
          <div
            class="owl-carousel owl-loaded owl-drag"
            data-dots="true"
            data-nav="false"
            data-desk_num="3"
            data-lap_num="2"
            data-tab_num="2"
            data-mob_num="1"
            data-mob_sm="1"
            data-autoplay="true"
            data-loop="true"
            data-margin="30"
          >
            <div class="item">
              <div class="pq-blog-post">
                <div class="pq-post-media">
                  <img src="#" alt="blog-img" />
                  <div class="pq-post-date">
                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                      ><span>26</span>Jan</a
                    >
                  </div>
                </div>
                <div class="pq-blog-contain">
                  <div class="pq-post-meta">
                    <ul>
                      <li class="pq-post-author">
                        <i class="fa fa-user"></i>admin
                      </li>
                      <li class="pq-post-meta">
                        <a
                          href="app-promotes-sales-profits-in-it-solutions.html"
                          ><i class="fa fa-calendar"></i>January 2021</a
                        >
                      </li>
                      <li class="pq-post-tag">
                        <a
                          href="app-promotes-sales-profits-in-it-solutions.html"
                          ><i class="fa fa-tag"></i>Cyber Security</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h5 class="pq-blog-title">
                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                      >App promotes sales &amp; profits In It Solutions</a
                    >
                  </h5>
                  <a
                    href="app-promotes-sales-profits-in-it-solutions.html"
                    class="pq-button pq-btn-flat pq-mt-30"
                  >
                    <div class="pq-button-block">
                      <span class="pq-button-text">Read More</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Blog End-->