<!--Blog Start-->
<section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pq-section pq-style-1 text-center">
            <span class="pq-section-sub-title"># our latest news</span>
            <h5
              class="pq-section-title"
              id="blog"
              data-high_text="Blog"
              data-title_text="Latest Blog Posts"
              data-rough_color="#fd4a18"
              data-rough_type="underline"
            >
              Latest Blog Posts
            </h5>
          </div>
        </div>
        <div class="col-lg-12">
          <div
            class="owl-carousel owl-loaded owl-drag"
            data-dots="true"
            data-nav="false"
            data-desk_num="3"
            data-lap_num="2"
            data-tab_num="2"
            data-mob_num="1"
            data-mob_sm="1"
            data-autoplay="true"
            data-loop="true"
            data-margin="30"
          >
            {% for i in blog %}
            <div class="item">
              <div class="pq-blog-post">
                <div class="pq-post-media">
                  <img src="{{i.cover_image.url}}" alt="blog-img" />
                  <div class="pq-post-date">
                    <a href="{% url 'blog' i.title %}"
                      >
                      <span>{{i.publish_time|date:"d"}}</span>{{i.publish_time|date:"M"}}</a
                    >
                  </div>
                </div>
                <div class="pq-blog-contain">
                 
                  <h5 class="pq-blog-title">
                    <a href="{% url 'blog' i.title %}"
                      >App promotes sales &amp; profits In It Solutions</a
                    >
                  </h5>
                  <a
                    href="{% url 'blog' i.title %}"
                    class="pq-button pq-btn-flat pq-mt-30"
                  >
                    <div class="pq-button-block">
                      <span class="pq-button-text">Read More</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Blog End-->