{% load static %}
<section class="process-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pq-section pq-style-1 text-center">
            <span class="pq-section-sub-title"># our values and goals</span>
            <h5
              class="pq-section-title"
              id="process"
              data-high_text="Process"
              data-title_text="Our Work Process"
              data-rough_color="#fd4a18"
              data-rough_type="underline"
            >
              Our Work Process
            </h5>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="pq-process-step pq-process-1">
            <img
              class="pq-before-img-1"
              src="{% static 'images/arrow-1.png' %}"
              alt="arrow-img"
            />
            <div class="pq-process-icon">
              <i class="flaticon-technical-support"></i>
              <span class="pq-process-number">01</span>
            </div>
            <div class="pq-process-info">
              <h5 class="pq-process-title">Choose a Service</h5>
              
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="pq-process-step pq-process-2">
            <img
              class="pq-before-img-2"
              src="{% static 'images/arrow-2.png' %}"
              alt="arrow-img"
            />
            <div class="pq-process-icon">
              <i class="flaticon-admin"></i>
              <span class="pq-process-number">02</span>
            </div>
            <div class="pq-process-info">
              <h5 class="pq-process-title">Request a Meeting</h5>
              
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="pq-process-step pq-process-1">
            <img
              class="pq-before-img-3"
              src="{% static 'images/arrow-1.png' %}"
              alt="arrow-img"
            />
            <div class="pq-process-icon">
              <i class="flaticon-globe"></i>
              <span class="pq-process-number">03</span>
            </div>
            <div class="pq-process-info">
              <h5 class="pq-process-title">Start Planing</h5>
              
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mt-4 mt-xl-0">
          <div class="pq-process-step pq-process-2">
            <div class="pq-process-icon">
              <i class="flaticon-laptop"></i>
              <span class="pq-process-number">04</span>
            </div>
            <div class="pq-process-info">
              <h5 class="pq-process-title">Lets Make it Happen</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>