<section class="projects pb-5 pq-bg-img-2 pq-bg-primary">
  <div class="container">
    <div class="row align-items-center pq-mb-45">
      <div class="col-lg-6 col-md-6">
        <div class="pq-section pq-style-1 text-left">
          <span class="pq-section-sub-title"># our projects</span>
          <h5
            class="pq-section-title pq-text-white"
            id="latest"
            data-high_text="Latest"
            data-title_text="Our Latest Works For Your Business"
            data-rough_color="#fd4a18"
            data-rough_type="underline"
          >
            Our Latest Works For Your Business
          </h5>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="button-align">
          <a href="{% url 'portfolio' %}" class="pq-button pq-bg-dark">
            <div class="pq-button-block">
              <span class="pq-button-text">View All</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 pq-mb-150">
        <div class="pq-portfolio">
          <div
            class="owl-carousel owl-loaded owl-drag"
            data-dots="false"
            data-nav="false"
            data-desk_num="4"
            data-lap_num="3"
            data-tab_num="2"
            data-mob_num="1"
            data-mob_sm="1"
            data-autoplay="true"
            data-loop="true"
            data-margin="30"
          >
            {% for p in project %}
              <div class="item">
                <div class="pq-portfolio-block">
                  <div class="pq-portfolio-img">
                    <img
                      src="{{p.cover.url}}"
                      alt="portfolio-img"
                    />
                    <a href="{% url 'project' p.title %}">
                      <div class="pq-portfolio-icon">
                        <i class="ion flaticon-globe-1"></i>
                      </div>
                    </a>
                  </div>
                  <div class="pq-portfolio-info">
                    <div class="pq-portfolio-inner-info">
                      <h5>
                        <a href="{% url 'project' p.title %}">{{p.title}}</a>
                      </h5>
                      <div class="pq-portfolio-link">
                        <a href="{% url 'project' p.title %}">Details</a>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
