<section class="pq-bg-grey pq-bg-img-1 pq-pb-220 business">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title"># services</span>
                    <h5 class="pq-section-title" id="product" data-high_text="Business" data-title_text="Product Devlopment For Better Business" data-rough_color="#fd4a18" data-rough_type="underline">Product Devlopment For Better Business</h5>
                </div>
                <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="4" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-data-analysis"></i>
                                <h3 class="pq-fancy-box-title">01</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Automotive</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html" target="_blank">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2 ">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-globe"></i>
                                <h3 class="pq-fancy-box-title">02</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Electronic</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2 ">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-computer"></i>
                                <h3 class="pq-fancy-box-title">03</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Marketing</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2 ">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-call-center"></i>
                                <h3 class="pq-fancy-box-title">04</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Metal</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2 ">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-admin"></i>
                                <h3 class="pq-fancy-box-title">05</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Packaging</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pq-fancybox-boxslider fancyslider-2 ">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-product"></i>
                                <h3 class="pq-fancy-box-title">06</h3>
                            </div>
                            <div class="pq-fancy-info">
                                <h4 class="pq-fancy-title">Plastics</h4>
                                <p>There are many variations of of Lorem Ipsum</p>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a class="pq-button pq-btn-link" href="contact-us.html">
                                        <span class="text">More Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>