{% load static %}
<section class="pq-bg-grey pq-bg-img-1 pq-pb-220 exclusive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title"># our services</span>
                    <h5 class="pq-section-title" id="exclusive" data-high_text="Exclusive" data-title_text="Provide Exclusive Services" data-rough_color="#fd4a18" data-rough_type="underline">Provide Exclusive Services</h5>
                    <p class="pq-section-description">We offer a wide range of services, from app development to web design and development, digital marketing, technical SEO and IT consulting.</p>
                </div>

                <!--PART 1 START-->
                <div class="row justify-content-center">
                    
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="pq-image-box pq-style-1">
                        
                        <lottie-player src="{% static 'images/image-box/1.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"
                              ><i class="flaticon-data-analysis"></i
                            ></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">Web Development</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-md-0">
                      <div class="pq-image-box pq-style-1">
                        <lottie-player src="{% static 'images/image-box/2.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"><i class="flaticon-design"></i></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">App  Development</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-xl-0">
                      <div class="pq-image-box pq-style-1">
                        <lottie-player src="{% static 'images/image-box/3.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"
                              ><i class="flaticon-data-analytics"></i
                            ></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">Product Design</h5>
                          </div>
                        </div>
                      </div>
                    </div>
               
                  </div> 
                
                <!--PART 1 END-->
                <!--PART 2 START-->
                <div class="row justify-content-center">
                    
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="pq-image-box pq-style-1">
                        
                        <lottie-player src="{% static 'images/image-box/4.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"
                              ><i class="flaticon-data-analysis"></i
                            ></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">Techenical SEO</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-md-0">
                      <div class="pq-image-box pq-style-1">
                        <lottie-player src="{% static 'images/image-box/5.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"><i class="flaticon-design"></i></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">Digital Marketing</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-xl-0">
                      <div class="pq-image-box pq-style-1">
                        <lottie-player src="{% static 'images/image-box/6.json' %}"  background="#fff"  speed="1"  style="width: 408px; height: 340px;"  loop  autoplay></lottie-player>
                        <div class="pq-image-box-meta pq-bg-grey">
                          <div class="pq-icon">
                            <a href="services.html"
                              ><i class="flaticon-data-analytics"></i
                            ></a>
                          </div>
                          <div class="pq-image-box-content">
                            <span class="pq-image-box-sub-title"
                              ><a href="services.html">STRATEGIES</a></span
                            >
                            <h5 class="pq-text-dark">It Consultaant                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
               
                  </div>                
            </div>
        </div>
    </div>
</section>


<!--Counter Start-->
<section class="counter pt-0 pb-0">
    <div class="container pq-bg-dark rounded">
        <div class="row text-center pq-counter-60">
            <div class="col-lg-3 col-md-6">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="11" data-speed="2000">11</h5>
                                <span class="pq-counter-prefix"></span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Happy Client</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="13" data-speed="2000">13</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Custumar Review</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="20" data-speed="2000">20</h5>
                                <span class="pq-counter-prefix"></span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Finished Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                <div class="pq-counter pq-style-1">
                    <div class="pq-counter-contain">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="2" data-speed="2000">2</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description pq-text-white">Years Of Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter End-->