{% load static %}
<section class="testimonial pq-testimonial-bg-img">
    <div class="container">
        <div class="row g-0">
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="pq-section pq-style-1 text-left">
                    <span class="pq-section-sub-title pq-text-white">our testimonial</span>
                    <h5 class="pq-section-title pq-text-white" id="client" data-high_text="Client" data-title_text="What Our Client Say" data-rough_color="#ffffff" data-rough_type="underline">What Our Client Say</h5>
                </div>
                <div class="pq-testimonial pq-owl-testimonial-1">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="">
                        <div class="item">
                            <div class="pq-testimonial-box pq-owl-testimonial-style-1">
                                <div class="pq-testimonial-content">
                                    <p>There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form, by injected humour, randomised words which don't look even slightly believable. </p>
                                </div>
                                <div class="pq-testimonial-info">
                                    <div class="pq-testimonial-img">
                                        <img src="#" alt="testimonial-image">
                                        <div class="pq-testimonial-meta">
                                            <h5>Alex Jhon Martin </h5>
                                            <span>Web Designer</span>
                                            <div class="pq-testimonial-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <img src="{% static 'images/testimonial/1.jpg' %}" class="d-xl-none" alt="">
            </div>
        </div>
    </div>
</section>