{% load static %}
<div class="banner py-0">
    <!-- START home 2 REVOLUTION SLIDER 6.3.2 -->
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap
      id="rev_slider_15_1_wrapper"
      data-alias="slider-1"
      data-source="gallery"
      style="
        background: transparent;
        padding: 0;
        margin: 0px auto;
        margin-top: 0;
        margin-bottom: 0;
      "
    >
      <rs-module id="rev_slider_15_1" data-version="6.3.2">
        <rs-slides>
          <rs-slide
            data-key="rs-43"
            data-title="Slide"
            data-thumb="{% static 'rev/assets/banner-1-1-50x100.jpg' %}"
            data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;"
          >
            <img
              src="{% static 'rev/assets/banner-1-1.jpg' %}"
              title="banner-1-1.jpg"
              width="1920"
              height="1080"
              data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;"
              class="rev-slidebg"
              data-no-retina
            />
            <!---->
            <h5
              id="slider-15-slide-43-layer-1"
              class="rs-layer"
              data-type="text"
              data-rsp_ch="on"
              data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
              data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              style="z-index: 10; font-family: Jost"
            >
              DIGITAL<br />
              PERFECTION
            </h5>
            <!---->
            <a
              id="slider-15-slide-43-layer-2"
              class="rs-layer rev-btn"
              href="about-us.html"
              target="_self"
              data-type="button"
              data-rsp_ch="on"
              data-xy="x:c;xo:-90px,-90px,-75px,-58px;y:m;yo:200px,160px,121px,74px;"
              data-text="w:normal;s:16,16,16,14;l:32,32,24,22;"
              data-dim="minh:0px,none,none,none;"
              data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
              data-border="bor:5px,5px,5px,5px;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
              style="
                z-index: 11;
                background-color: #fd4a18;
                font-family: Jost;
              "
              >Read More </a
            >
            <!---->
            <a
              id="slider-15-slide-43-layer-3"
              class="rs-layer rev-btn"
              href="contact-us.html"
              target="_self"
              data-type="button"
              data-color="#222222"
              data-rsp_ch="on"
              data-xy="x:c;xo:100px,106px,94px,72px;y:m;yo:200px,160px,121px,74px;"
              data-text="w:normal;s:16,16,16,14;l:32,32,24,22;"
              data-dim="minh:0px,none,none,none;"
              data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
              data-border="bor:5px,5px,5px,5px;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
              style="
                z-index: 12;
                background-color: #ffffff;
                font-family: Jost;
              "
              >Contact Us </a
            >
            <!---->
            <rs-layer
              id="slider-15-slide-43-layer-7"
              data-type="text"
              data-color="#fd4a18"
              data-rsp_ch="on"
              data-xy="x:c;y:m;yo:-160px,-126px,-95px,-80px;"
              data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              style="z-index: 13; font-family: Jost"
              ># SECURE & IT SERVICES </rs-layer
            >
            <!---->
          </rs-slide>
          <rs-slide
            data-key="rs-44"
            data-title="Slide"
            data-thumb="{% static 'rev/assets/banner-2-1-50x100.jpg' %}"
            data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;"
          >
            <img
              src="{% static 'rev/assets/banner-2-1.jpg' %}"
              title="banner-2-1.jpg"
              width="1920"
              height="1080"
              data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;"
              class="rev-slidebg"
              data-no-retina
            />
            <!---->
            <h5
              id="slider-15-slide-44-layer-1"
              class="rs-layer"
              data-type="text"
              data-rsp_ch="on"
              data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
              data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              style="z-index: 10; font-family: Jost"
            >
              SPLENDID<br />
              TECHNOLOGIES
            </h5>
            <!---->
            <a
              id="slider-15-slide-44-layer-2"
              class="rs-layer rev-btn"
              href="about-us.html"
              target="_self"
              data-type="button"
              data-rsp_ch="on"
              data-xy="x:c;xo:-100px,-90px,-74px,-66px;y:m;yo:200px,160px,121px,74px;"
              data-text="w:normal;s:16;l:32,32,24,24;"
              data-dim="minh:0px,none,none,none;"
              data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
              data-border="bor:5px,5px,5px,5px;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
              style="
                z-index: 11;
                background-color: #fd4a18;
                font-family: Jost;
              "
              >Read More </a
            ><!---->
            <a
              id="slider-15-slide-44-layer-3"
              class="rs-layer rev-btn"
              href="contact-us.html"
              target="_self"
              data-type="button"
              data-color="#222222"
              data-rsp_ch="on"
              data-xy="x:c;xo:100px,106px,96px,72px;y:m;yo:200px,160px,121px,74px;"
              data-text="w:normal;s:16;l:32,32,24,24;"
              data-dim="minh:0px,none,none,none;"
              data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
              data-border="bor:5px,5px,5px,5px;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
              style="
                z-index: 12;
                background-color: #ffffff;
                font-family: Jost;
              "
              >Contact Us </a
            ><!---->
            <rs-layer
              id="slider-15-slide-44-layer-7"
              data-type="text"
              data-color="#fd4a18"
              data-rsp_ch="on"
              data-xy="x:c;xo:0,0,1px,0;y:m;yo:-160px,-126px,-100px,-80px;"
              data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
              data-frame_0="y:50,39,29,17;"
              data-frame_1="st:1000;sp:1000;"
              data-frame_999="o:0;st:w;"
              style="z-index: 13; font-family: Jost"
              ># GREAT EXPERIENCE IN IT </rs-layer
            >
            <!---->
          </rs-slide>
        </rs-slides>
        <rs-static-layers
          >
          <!---->
        </rs-static-layers
        >
      </rs-module>
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->
  </div>